---
import Layout from '../layouts/Layout.astro';
import Nav from '../layouts/Nav.astro';
import Footer from '../layouts/Footer.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<header>	
			<Nav title='RacerTruck' />	  
		</header>

		<section id="magazines">

		</section>

		<section id="about">

		</section>
		
		<section id="contact">

		</section>	
		<Footer title='RacerTruck' />	
	</main>
</Layout>
