---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';
// import About from '../sections/About.astro';
// import Contact from '../sections/Contact.astro';
import Flipbook from '../components/Flipbook';
import Hero from '../sections/Hero.astro';
---

<Layout title="RacerTruck | The Magazine of cars and his technology">
	<main class="bg-neutral-100">
		<Header title='RacerTruck' />

		<Hero />
        <Flipbook client:only='react'/>
		<!-- <About class="pb-20" />
        <Contact class="pb-20" /> -->

		<Footer title='RacerTruck' />	
	</main>
</Layout>