---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';
import About from '../sections/About.astro';
import Contact from '../sections/Contact.astro';
import Magazine from '../sections/Magazine.astro';
---

<Layout title="RacerTruck | The Magazine of cars and his technology">
	<main class="bg-neutral-100">
		<Header title='RacerTruck' />	  

        <Magazine />
		<About />
        <Contact />

		<Footer title='RacerTruck' />	
	</main>
</Layout>
