---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Flipbook from '../components/Flipbook';
import Footer from '../sections/Footer.astro';
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import InfoCards from '../sections/InfoCards.astro';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="The Magazine of cars and his technology">
	<main>
		<Hero />
		<InfoCards />
		<Flipbook client:only='react'/>
		<Footer title={t('footer.title')} />
	</main>
</Layout>