---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';
import Flipbook from '../components/Flipbook.jsx';
---

<Layout title="RacerTruck | The Magazine of cars and his technology">
	<main class="bg-neutral-100">
		<Header title='RacerTruck' />	  

		<section id="magazines">
			<Flipbook client:only="react"/>
		</section>

		<section id="about">
		</section>
		
		<section id="contact">

		</section>	

		<Footer title='RacerTruck' />	
	</main>
</Layout>
