---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Footer from '../sections/Footer.astro';
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Showcase from '../sections/Showcase.astro';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="The Magazine of cars and his technology">
	<main>
		<Hero />
		<Showcase />
		<Footer />
	</main>
</Layout>