---
import Layout from '../layouts/Layout.astro';
import Flipbook from '../components/Flipbook.jsx';
---

<Layout title="Racer Truck Magazine">
    <h1 class="text-white">Racer Truck Magazine</h1>
    <Flipbook client:load/>
</Layout>