---
import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/Footer.astro';
import Header from '../layouts/Header.astro';
// this 3 lines of code are necessary to translate the elements that we need to translate i others languages
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title='RacerTruck | Privacy Policy'>
    <main>
        <Header title='RacerTruck' />
        <section class="max-w-screen-xl mx-auto my-20 px-2 h-dvh">
            <h1 class="my-4 text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:leading-none sm:text-6xl lg:text-5xl xl:text-6xl">{t('privacy.title')}</h1>
            <p class="mb-4">{t('privacy.paragraph.one')}</p>
            <p class="mb-4">{t('privacy.paragraph.two')}</p>
            <ul class="list-disc ml-6">
                <li class="mb-2">{t('privacy.paragraph.two.point.one')}</li>
                <li class="mb-2">{t('privacy.paragraph.two.point.two')}</li>
            </ul>
            <p class="mb-4">{t('privacy.paragraph.three')}</p>
            <ul class="list-disc ml-6">
                <li class="mb-2">{t('privacy.paragraph.three.point.one')}</li>
                <li class="mb-2">{t('privacy.paragraph.three.point.two')}</li>
            </ul>
            <p class="mt-4">{t('privacy.paragraph.four')}</p>
            <p class="mt-4">{t('privacy.paragraph.five')} <a href="#">{t('privacy.paragraph.five.link')}</a>.</p>
        </section>
        <Footer title='RacerTruck' />
    </main>
</Layout>