---
export interface Props {
    text: string;
    status?: boolean;
}

const { text, status } = Astro.props;
---

{
    status ? (<span class="bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">{text}</span>) : (<span class="bg-red-100 text-red-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">{text}</span>)
}
