---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Discord from '../icons/Discord.astro';
import Facebook from '../icons/Facebook.astro';
import GitHub from '../icons/GitHub.astro';
// this 3 lines of code are necessary to translate the elements that we need to translate i others languages
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
// this is only used for the url path redirection
const translatePath = useTranslatedPath(lang);
---

<footer class="bg-black">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <div class="flex items-center">
                  <img src="/logo.svg" loading="lazy" class="h-8 me-3" alt="FlowBite Logo" />
                  <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">{title}</span>
              </div>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-2">
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">{t('footer.follow')}</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                          <a href="https://github.com/AlexOT03/RacerTruck" target="_blank" class="hover:underline ">Github</a>
                      </li>
                      <li>
                          <a href="https://www.facebook.com/joel.chablenarvaez" target="_blank" class="hover:underline">Facebook</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">{t('footer.legal')}</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                          <a href={translatePath('/privacy')} class="hover:underline">{t('footer.legal.privacy')}</a>
                      </li>
                      <li>
                          <a href={translatePath('/terms')} class="hover:underline">{t('footer.legal.terms')}</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="/" class="hover:underline">{title}™</a>. {t('footer.copyright')}
          </span>
          <div class="flex mt-4 sm:justify-center sm:mt-0">
              <a href="https://www.facebook.com/joel.chablenarvaez" target="_blank" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                  <Facebook class="w-4 h-4" />
                  <span class="sr-only">Facebook page</span>
              </a>
              <a href="https://github.com/AlexOT03/RacerTruck" target="_blank" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                  <GitHub class="w-4 h-4" />
                  <span class="sr-only">GitHub account</span>
              </a>
          </div>
      </div>
    </div>
</footer>