---
import Flipbook from "../../components/Flipbook";
import Footer from "../../sections/Footer.astro";
import Layout from "../../layouts/Layout.astro";
import Hero from "../../sections/Hero.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<Layout title="RacerTruck the Magazine of cars and his technology">
	<main>
		<Hero />
        <Flipbook client:only="react"/>

		<Footer title={t('footer.title')} />
	</main>
</Layout>
