---
import Footer from "../../sections/Footer.astro";
import Layout from "../../layouts/Layout.astro";
import Hero from "../../sections/Hero.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Showcase from "../../sections/Showcase.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="La revista de coches y su tecnología">
	<main>
		<Hero />
		<Showcase />
		<Footer title={t('footer.title')} />
	</main>
</Layout>
