---
import Flipbook from "../../components/Flipbook";
import Footer from "../../layouts/Footer.astro";
import Header from "../../layouts/Header.astro";
import Layout from "../../layouts/Layout.astro";


---

<Layout title="RacerTruck the Magazine of cars and his technology">
	<main class="bg-neutral-100">
		<Header title='RacerTruck' />	  

		<section id="magazines">
			<Flipbook client:load/>
		</section>

		<section id="about">

		</section>
		
		<section id="contact">

		</section>	
		<Footer title='RacerTruck' />	
	</main>
</Layout>
