---
import Header from '../sections/Header.astro';

interface Props {
	title: string;
}
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { title } = Astro.props;
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Website of cold wheels magazine, the world's first automotive magazine dedicated to the latest news in the automotive industry." />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<title>Cold Wheels | {title}</title>
		<meta name="view-transition" content="same-origin" />
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://coldwheels.netlify.app/" />
		<meta property="og:title" content="Cold Wheels | The Magazine of cars and his technology" />
		<meta property="og:description" content="Website of cold wheels magazine, the world's first automotive magazine dedicated to the latest news in the automotive industry." />
		<meta property="og:image" content="/img/August.webp" />
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://coldwheels.netlify.app/" />
		<meta property="twitter:title" content="Cold Wheels | The Magazine of cars and his technology" />
		<meta property="twitter:description" content="Website of cold wheels magazine, the world's first automotive magazine dedicated to the latest news in the automotive industry." />
		<meta property="twitter:image" content="/img/August.webp" />

		<!-- Meta Tags Generated with https://metatags.io -->
	</head>
	<body>
		<Header title={t('hero.title')} />
		<slot />
	</body>
</html>